################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/UITest/Library
/UITest/Logs
/UITest/obj/Debug
/UITest/Temp
/UITest/Assets/Doozy
/UITest/Assets/I2
/UITest/Assets/FungusExamples
/UITest/Assets/Gizmos
/UITest/Assets/Demigiant
/UITest/Assets/Fungus
